.DS_Store
.AppleDouble
.LSOverride
._*

build/
build_release/
build_universal/
DerivedData/
tinyGreen.xcodeproj/
*.xcuserstate
*.xcuserdatad/
xcuserdata/
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

.build/
Packages/
Package.pins
Package.resolved
.swiftpm/

Pods/

Carthage/Build/
Carthage/Checkouts/

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

.idea/
.vscode/
*.swp
*.swo

*.zip
*.app
*.dmg

assets/icon/*
!assets/icon/final/

.claude/

buildServer.json
.compile
